[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.0.2"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-migrate = "*"

[dev-packages]
python-dotenv = "*"
"autopep8" = "*"
pylint-flask = "*"
pylint = "*"

[requires]
python_version = "3.6"
