[packages]
flask ="==1.0.2"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-migrate = "*"
flask-socketio = "==3.1.2"
eventlet = "*"
ncclient = "*"
ydk = "==0.8.1"
ydk-models-ietf = "==0.1.5.post2"
ydk-models-openconfig = "==0.1.6.post1"
ydk-models-cisco-ios-xr = "==6.5.1.post1"
sentry-sdk = "*"
blinker = "*"
celery = "*"
flower = "*"
redis = "*"
python-dotenv = "*"
regex = "*"
ipython = "*"
dicttoxml = "*"
xmltodict = "*"
watchdog = "*"
pyyaml = {file = "https://github.com/yaml/pyyaml/archive/4.2b2.tar.gz"}

[dev-packages]
"autopep8" = "*"
pylint-flask = "*"
pylint = "*"

[requires]
python_version = "*"

[pipenv]
allow_prereleases = true
