[packages]
flask ="==1.0.2"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-migrate = "*"
python-dotenv = "*"
pyang = "*"
pyangbind = "*"
ncclient = "*"
xmltodict = "*"
sentry-sdk = "*"
blinker = "*"
regex = "*"
celery = "*"
ipython = "*"
dicttoxml = "*"
jupyter = "*"
ydk = "*"
ydk-models-ietf = "*"
ydk-models-openconfig = "*"
ydk-models-cisco-ios-xr = "*"
flower = "*"
redis = "*"

[dev-packages]
"autopep8" = "*"
pylint-flask = "*"
pylint = "*"

[requires]
python_version = "*"
