{% extends '_dashboard.html' %}
{% block title %} {{ title }} {% endblock %}

{% block addcss %}
    <!-- JQuery DataTable Css -->
    <link href="{{ url_for('static', filename='plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                LIST DEVICE
            </h2>
        </div>
        <!-- Device List -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            DEVICES
                        </h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="{{ url_for('dashboard.add_device') }}">Add Device</a></li>
                                    <li><a href="javascript:void(0);" onclick="location.href='{{ url_for('dashboard.list_device', action='refresh_all') }}'">Refresh All</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover list-device dataTable">
                                <thead>
                                    <tr href="javascript:void(0);">
                                        <th>Host</th>
                                        <th>Port</th>
                                        <th>Status</th>
                                        <th>Last Checked</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for device in devices %}
                                    <tr>
                                        <td id="{{ device.id }}" width="50%">{{ device.host }}
                                            <div class="btn-group bg-cyan btn-group-xs pull-right" role="group" aria-label="Extra-small button group">
                                                <button type="button" onclick="location.href='{{ url_for('dashboard.list_device', action='delete', device_id=device.id) }}'" title="Delete" class="btn bg-cyan waves-effect waves-light">
                                                    <i class="material-icons">delete</i></button>
                                                <button type="button" onclick="getId({{ device.id }});location.href='#editDevice'; " title="Edit" class="btn bg-cyan waves-effect waves-light">
                                                    <i class="material-icons">edit</i></button>
                                                <button type="button" onclick="location.href='{{ url_for('dashboard.list_device', action='refresh', device_id=device.id) }}'" title="Refresh" class="btn bg-cyan waves-effect waves-light">
                                                    <i class="material-icons">autorenew</i></button>
                                                <button type="button" onclick="location.href='{{ url_for('dashboard.list_device', action='telemetry', device_id=device.id) }}'" title="Telemetry" class="btn bg-cyan waves-effect waves-light">
                                                    <i class="material-icons">info_outline</i></button>
                                                <button type="button" onclick="location.href='{{ url_for('dashboard.list_device', action='netconf', device_id=device.id) }}'" title="Config Netconf" class="btn bg-cyan waves-effect waves-light">
                                                    <i class="material-icons">send</i></button>
                                            </div>
                                        </td>
                                        <td>{{ device.port }}</td>
                                        <td><status status="{{ device.device_status.status }}">
                                            <span class="hidden">{{ device.device_status.status }}</span></status>
                                        </td>
                                        <td><checked_time datetime="{{ device.device_status.checked_time }}">
                                            <span class="hidden">{{ device.device_status.checked_time }}</span></checked_time>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Device List -->
        <!-- Modal Device List-->
        <div class="remodal" data-remodal-id="editDevice">
            <div class="modal-header">
                <h2>EDIT DEVICE</h2>
            </div>
            <form method="POST" action="{{ url_for('dashboard.list_device') }}">
                <div class="form-group form-float">
                    {{ form_edit_device.hidden_tag() }}
                    {% if form_edit_device.errors %}
                        {% for field in form_edit_device.errors %}
                            {% if loop.index <= 1 %}
                                {% for err in form_edit_device.errors[field] %}
                                <div class="alert alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <strong>Error on {{ field }}</strong><br/>
                                    {{ err }}
                                </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        {{ form_edit_device.id(readonly=True, hidden=True) }}
                        {{ form_edit_device.host(class="form-control", readonly=True) }}
                        <label class="form-label" for="host">{{ form_edit_device.host.label }}</label>
                    </div>
                </div>

                <div class="form-group form-float">
                    <div class="form-line">
                        {{ form_edit_device.port(class="form-control") }}
                        <label class="form-label" for="port">{{ form_edit_device.port.label }}</label>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        {{ form_edit_device.username(class="form-control") }}
                        <label class="form-label" for="username">{{ form_edit_device.username.label }}</label>
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        {{ form_edit_device.password(class="form-control") }}
                        <label class="form-label" for="password">{{ form_edit_device.password.label }}</label>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-remodal-action="close" class="remodal-close">CLOSE</button>
                <button type="submit" class="btn btn-primary waves-effect">SAVE</button>
            </div>
            </form>
        </div>
        <!-- #END Modal Device List-->
    </div>
</section>
{% endblock %}

{% block addscript %}
    <!-- Jquery DataTable Plugin Js -->
    <script src="{{ url_for('static', filename='plugins/momentjs/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/momentjs/tz.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/jquery.dataTables.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pages/dashboard/active-list-device.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pages/dashboard/list_device.js') }}"></script>
    {% if device_id %}
    <script>getId({{ device_id }})</script>
    {% endif %}
{% endblock %}
