<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="theme-color" content="#00BCD4">
    <!-- when using the mode "code", it's important to specify charset utf-8 -->
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>{{ title }} — Automarked</title>
    <!-- Favicon-->
    <link rel="icon" href="{{ url_for('static', filename='img/fav.png') }}" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->
    <link href="{{ url_for('static', filename='plugins/bootstrap/css/bootstrap.css') }}" rel="stylesheet" type="text/css">
    <!-- Waves Effect Css -->
    <link href="{{ url_for('static', filename='plugins/node-waves/waves.css') }}" rel="stylesheet" type="text/css">
    <!-- Animation Css -->
    <link href="{{ url_for('static', filename='plugins/animate-css/animate.css') }}" rel="stylesheet" type="text/css">
    <!-- Custom Css -->
    <link href="{{ url_for('static', filename='css/themes/all-themes.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/toastr.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='plugins/jsoneditor/jsoneditor.css') }}" rel="stylesheet" type="text/css">
    {% block addcss %} {% endblock %}
</head>
<body>
    <div id="jsonview"></div>
</body>
<script src="{{ url_for('static', filename='plugins/jsoneditor/jsoneditor.js') }}"></script>
    <script>
        var container = document.getElementById("jsonview");
        var options = {};
        var editor = new JSONEditor(container, options);

        // set json
        var json = {
        "@xmlns": "urn:ietf:params:xml:ns:netconf:base:1.0",
        "@xmlns:nc": "urn:ietf:params:xml:ns:netconf:base:1.0",
        "host-names": {
            "@xmlns": "http://cisco.com/ns/yang/Cisco-IOS-XR-shellutil-cfg",
            "host-name": "r1"
        },
        "call-home": {
            "@xmlns": "http://cisco.com/ns/yang/Cisco-IOS-XR-call-home-cfg",
            "active": null,
            "contact-smart-licensing": "true",
            "profiles": {
                "profile": {
                    "profile-name": "CiscoTAC-1",
                    "create": null,
                    "active": null,
                    "methods": {
                        "method": [
                            {
                                "method": "email",
                                "enable": "false"
                            },
                            {
                                "method": "http",
                                "enable": "true"
                            }
                        ]
                    }
                }
            }
        },
        "interface-configurations": {
            "@xmlns": "http://cisco.com/ns/yang/Cisco-IOS-XR-ifmgr-cfg",
            "interface-configuration": [
                {
                    "active": "act",
                    "interface-name": "MgmtEth0/RP0/CPU0/0",
                    "description": "*** MANAGEMENT INTERFACE ***",
                    "ipv4-network": {
                        "@xmlns": "http://cisco.com/ns/yang/Cisco-IOS-XR-ipv4-io-cfg",
                        "addresses": {
                            "dhcp": {
                                "enabled": null,
                                "pattern": "MgmtEth0_RP0_CPU0_0"
                            }
                        }
                    }
                },
                {
                    "active": "act",
                    "interface-name": "GigabitEthernet0/0/0/0",
                    "shutdown": null
                },
                {
                    "active": "act",
                    "interface-name": "GigabitEthernet0/0/0/1",
                    "shutdown": null
                },
                {
                    "active": "act",
                    "interface-name": "GigabitEthernet0/0/0/2",
                    "shutdown": null
                },
                {
                    "active": "act",
                    "interface-name": "GigabitEthernet0/0/0/3",
                    "shutdown": null
                },
                {
                    "active": "act",
                    "interface-name": "GigabitEthernet0/0/0/4",
                    "shutdown": null
                }
            ]
        },
        "banners": {
            "@xmlns": "http://cisco.com/ns/yang/Cisco-IOS-XR-infra-infra-cfg",
            "banner": {
                "banner-name": "motd",
                "banner-text": ";\n--------------------------------------------------------------------------\n  Router 1 (Cisco IOS XR Sandbox)\n--------------------------------------------------------------------------\n;"
            }
        },
        "aaa": [
            {
                "@xmlns": "http://cisco.com/ns/yang/Cisco-IOS-XR-aaa-lib-cfg",
                "usernames": {
                    "@xmlns": "http://cisco.com/ns/yang/Cisco-IOS-XR-aaa-locald-cfg",
                    "username": {
                        "ordering-index": "0",
                        "name": "admin",
                        "usergroup-under-usernames": {
                            "usergroup-under-username": [
                                {
                                    "name": "root-lr"
                                },
                                {
                                    "name": "cisco-support"
                                }
                            ]
                        },
                        "secret": "$1$A4C9$oaNorr6BXDruE4gDd086L."
                    }
                }
            },
            {
                "@xmlns": "http://tail-f.com/ns/aaa/1.1",
                "authentication": {
                    "users": {
                        "user": {
                            "name": "admin",
                            "uid": "9000",
                            "gid": "100",
                            "password": "$1$1hD9$xG4Q4FDr.ptf9nyEHLDkI1",
                            "ssh_keydir": "/var/confd/homes/admin/.ssh",
                            "homedir": "/var/confd/homes/admin"
                        }
                    },
                    "groups": {
                        "group": [
                            {
                                "name": "aaa-r",
                                "gid": "100",
                                "users": "%%__system_user__%%"
                            },
                            {
                                "name": "admin-r",
                                "gid": "100",
                                "users": "%%__system_user__%%"
                            },
                            {
                                "name": "root-system",
                                "gid": "100",
                                "users": "%%__system_user__%% admin"
                            }
                        ]
                    }
                },
                "authorization": {
                    "cmdrules": {
                        "cmdrule": [
                            {
                                "index": "1",
                                "context": "*",
                                "command": "*",
                                "group": "root-system",
                                "ops": "rx",
                                "action": "accept"
                            },
                            {
                                "index": "2",
                                "context": "*",
                                "command": "show running-config aaa",
                                "group": "aaa-r",
                                "ops": "rx",
                                "action": "accept"
                            },
                            {
                                "index": "3",
                                "context": "*",
                                "command": "show tech-support aaa",
                                "group": "aaa-r",
                                "ops": "rx",
                                "action": "accept"
                            },
                            {
                                "index": "4",
                                "context": "*",
                                "command": "show aaa",
                                "group": "aaa-r",
                                "ops": "rx",
                                "action": "accept"
                            },
                            {
                                "index": "5",
                                "context": "*",
                                "command": "show",
                                "group": "admin-r",
                                "ops": "rx",
                                "action": "accept"
                            }
                        ]
                    },
                    "datarules": {
                        "datarule": [
                            {
                                "index": "1",
                                "namespace": "*",
                                "context": "*",
                                "keypath": "*",
                                "group": "root-system",
                                "ops": "rwx",
                                "action": "accept"
                            },
                            {
                                "index": "2",
                                "namespace": "*",
                                "context": "*",
                                "keypath": "/aaa",
                                "group": "aaa-r",
                                "ops": "r",
                                "action": "accept"
                            },
                            {
                                "index": "3",
                                "namespace": "*",
                                "context": "*",
                                "keypath": "/aaa",
                                "group": "admin-r",
                                "ops": "rwx",
                                "action": "reject"
                            },
                            {
                                "index": "4",
                                "namespace": "*",
                                "context": "*",
                                "keypath": "/",
                                "group": "admin-r",
                                "ops": "r",
                                "action": "accept"
                            }
                        ]
                    }
                }
            }
        ],
        "vty": {
            "@xmlns": "http://cisco.com/ns/yang/Cisco-IOS-XR-tty-vty-cfg",
            "vty-pools": {
                "vty-pool": {
                    "pool-name": "default",
                    "first-vty": "0",
                    "last-vty": "4",
                    "line-template": "VTY-TEMPLATE"
                }
            }
        },
        "ssh": {
            "@xmlns": "http://cisco.com/ns/yang/Cisco-IOS-XR-crypto-ssh-cfg",
            "server": {
                "v2": null,
                "netconf-vrf-table": {
                    "vrf": {
                        "vrf-name": "default",
                        "enable": null
                    }
                }
            }
        },
        "netconf-yang": {
            "@xmlns": "http://cisco.com/ns/yang/Cisco-IOS-XR-man-netconf-cfg",
            "agent": {
                "ssh": {
                    "enable": null
                }
            }
        },
        "tty": {
            "@xmlns": "http://cisco.com/ns/yang/Cisco-IOS-XR-tty-server-cfg",
            "tty-lines": {
                "tty-line": {
                    "name": "console",
                    "exec": {
                        "time-stamp": "false",
                        "timeout": {
                            "minutes": "0",
                            "seconds": "0"
                        }
                    }
                }
            }
        },
        "syslog-service": {
            "@xmlns": "http://cisco.com/ns/yang/Cisco-IOS-XR-infra-syslog-cfg",
            "timestamps": {
                "log": {
                    "log-datetime": {
                        "log-datetime-value": {
                            "msec": "enable"
                        }
                    }
                },
                "debug": {
                    "debug-datetime": {
                        "datetime-value": {
                            "msec": "enable"
                        }
                    }
                }
            }
        },
        "router-static": {
            "@xmlns": "http://cisco.com/ns/yang/Cisco-IOS-XR-ip-static-cfg",
            "default-vrf": {
                "address-family": {
                    "vrfipv4": {
                        "vrf-unicast": {
                            "vrf-prefixes": {
                                "vrf-prefix": {
                                    "prefix": "0.0.0.0",
                                    "prefix-length": "0",
                                    "vrf-route": {
                                        "vrf-next-hop-table": {
                                            "vrf-next-hop-next-hop-address": {
                                                "next-hop-address": "192.168.122.1"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "confdConfig": {
            "@xmlns": "http://tail-f.com/ns/confd_dyncfg/1.0",
            "hideGroup": {
                "name": "advanced-grp",
                "password": null
            },
            "encryptedStrings": {
                "DES3CBC": {
                    "key1": "0123456789ABCDEF",
                    "key2": "0123456789ABCDEF",
                    "key3": "0123456789ABCDEF",
                    "initVector": "0123456789ABCDEF"
                },
                "AESCFB128": {
                    "key": "0123456789ABCDEF0123456789ABCDEF",
                    "initVector": "0123456789ABCDEF0123456789ABCDEF"
                }
            },
            "logs": {
                "syslogConfig": {
                    "version": "bsd",
                    "facility": "daemon",
                    "udp": {
                        "enabled": "false",
                        "host": "syslogsrv.example.com",
                        "port": "514"
                    }
                },
                "confdLog": {
                    "enabled": "true",
                    "file": {
                        "enabled": "true",
                        "name": "/var/log/confd_daemon.log"
                    },
                    "syslog": {
                        "enabled": "false"
                    }
                },
                "developerLog": {
                    "enabled": "true",
                    "file": {
                        "enabled": "true",
                        "name": "/var/log/confd_developer.log"
                    },
                    "syslog": {
                        "enabled": "false"
                    }
                },
                "developerLogLevel": "trace",
                "auditLog": {
                    "enabled": "true",
                    "file": {
                        "enabled": "true",
                        "name": "/var/log/confd_audit.log"
                    },
                    "syslog": {
                        "enabled": "false"
                    }
                },
                "auditLogCommit": "false",
                "netconfLog": {
                    "enabled": "true",
                    "file": {
                        "enabled": "true",
                        "name": "/var/log/confd_netconf.log"
                    },
                    "syslog": {
                        "enabled": "false"
                    }
                },
                "snmpLog": {
                    "enabled": "true",
                    "file": {
                        "enabled": "true",
                        "name": "/var/log/confd_snmp.log"
                    },
                    "syslog": {
                        "enabled": "false"
                    }
                },
                "webuiAccessLog": {
                    "enabled": "false",
                    "dir": "/var/log/confd_webui.log"
                },
                "netconfTraceLog": {
                    "enabled": "false",
                    "filename": "/var/log/confd_netconf_trace.log",
                    "format": "pretty"
                },
                "errorLog": {
                    "enabled": "true",
                    "filename": "/var/log/confd_error.log",
                    "maxSize": "S1M"
                }
            },
            "cli": {
                "enabled": "true",
                "modeNameStyle": "short",
                "allowOverwriteOnCopy": "false",
                "inheritPaginate": "true",
                "safeScriptExecution": "true",
                "exitConfigModeOnCtrlC": "false",
                "execNavigationCmds": "false",
                "allowOldStyleModeCmds": "false",
                "mixedMode": "false",
                "topLevelCmdsInSubMode": "true",
                "completionShowOldVal": "true",
                "reportInvalidCompletionInput": "true",
                "useShortEnabled": "true",
                "smartRenameFiltering": "true",
                "allowParenQuotes": "false",
                "singleElemPattern": "true",
                "multiPatternOperation": "any",
                "sortSubmodeCmds": "true",
                "sortLocalCmds": "true",
                "displayEmptyConfigContainers": "true",
                "whoShowMode": "true",
                "whoHistoryDateTimeFormat": "short",
                "editWrapMode": "wrap",
                "supportQuotedEOL": "true",
                "allowWildcard": "true",
                "allowAllAsWildcard": "false",
                "allowRangeExpression": "true",
                "addExtraTableSpacing": "false",
                "suppressRangeKeyword": "false",
                "tableLabel": "false",
                "tableLookAhead": "50",
                "showTableLabelsIfMultiple": "false",
                "defaultTableBehavior": "dynamic",
                "allowTableOverflow": "false",
                "tableOverflowTruncate": "false",
                "allowTableCellWrap": "false",
                "showAllNs": "false",
                "leafPrompting": "true",
                "auditLogMode": "all",
                "transactions": "true",
                "transactionCtrlCmds": "false",
                "style": "c",
                "completionShowMax": "2000",
                "rollbackMax": "1000",
                "rollbackNumbering": "fixed",
                "rollbackNumberingInitial": "10000",
                "showDefaults": "false",
                "reallocateOperTrans": "false",
                "quickSshTeardown": "false",
                "cAlignLeafValues": "true",
                "defaultPrefix": null,
                "jWarningPrefix": "Warning:",
                "jAbortedPrefix": "Aborted:",
                "jErrorPrefix": "Error:",
                "cWarningPrefix": "Warning:",
                "cAbortedPrefix": "Aborted:",
                "cErrorPrefix": "Error:",
                "invalidDataString": "--ERROR--",
                "showKeyName": "true",
                "commitRetryTimeout": "PT15S",
                "timezone": "local",
                "utcOffset": "0",
                "oldDetailsArg": "false",
                "withDefaults": "false",
                "trimDefaultShow": "false",
                "trimDefaultSave": "false",
                "banner": null,
                "bannerFile": null,
                "prompt1": "\\u@\\h\\M>",
                "prompt2": "\\u@\\h\\M%",
                "cPrompt1": "\\H#",
                "cPrompt2": "\\H(\\m)#",
                "cStylePromptInJStyle": "false",
                "promptHostnameDelimiter": ".",
                "asyncPromptRefresh": "true",
                "showLogDirectory": "/var/log/",
                "idleTimeout": "PT10M",
                "disableIdleTimeoutOnCmd": "true",
                "commandTimeout": "infinity",
                "spaceCompletion": {
                    "enabled": "false"
                },
                "timestamp": {
                    "enabled": "true"
                },
                "autoWizard": {
                    "enabled": "false"
                },
                "ssh": {
                    "enabled": "false",
                    "ip": "0.0.0.0",
                    "port": "2024",
                    "extraIpPorts": "[::]",
                    "banner": null,
                    "bannerFile": null
                },
                "commitMessage": "true",
                "commitMessageFormat": "\\nSystem message at $(time)...\\nCommit performed by $(user) via $(proto) using $(ctx).\\n",
                "jShowCR": "false",
                "showPipe": "true",
                "showPipeConfig": "false",
                "disablePipe": "false",
                "disablePipeConfig": "false",
                "pipeHelpMode": "always",
                "jAllowDeleteAll": "true",
                "cSilentNo": "true",
                "noFollowIncompleteCommand": "false",
                "cRestrictiveNo": "true",
                "prioritizeSubmodeCmds": "true",
                "cExtendedCmdSearch": "true",
                "enterSubmodeOnLeaf": "false",
                "jExtendedShow": "true",
                "jShowUnset": "false",
                "jShowUnsetText": "UNSET",
                "jStatusFormat": "[$(status)][$(time)]\\n",
                "cModeExitFormat": "!",
                "forcedExitFormat": "\\nYou are forced out of configure mode by $(sender).\\n",
                "showSubsystemMessages": "false",
                "ignoreSubsystemFailures": "true",
                "showEmptyContainers": "false",
                "showTags": "true",
                "showAnnotations": "true",
                "jShowTableRecursive": "false",
                "cPrivate": "false",
                "cTab": "false",
                "cTabInfo": "false",
                "tabExtend": "true",
                "cHelp": "true",
                "restrictedFileAccess": "false",
                "hideDotFiles": "false",
                "restrictedFileRegexp": null,
                "historyRemoveDuplicates": "false",
                "historyMaxSize": "1000",
                "messageMaxSize": "10000",
                "mapActions": "oper",
                "compactTable": "true",
                "compactShow": "false",
                "compactStatsShow": "false",
                "prettifyStatsName": "false",
                "showCommitProgress": "false",
                "commitActivityClock": "false",
                "confirmUncommitedOnExit": "prompt",
                "reconfirmHidden": "false",
                "dequoteHidden": "false",
                "enumKeyInfo": "false",
                "columnStats": "false",
                "allowAbbrevCmds": "true",
                "allowAbbrevCmdsOnLoad": "true",
                "allowAbbrevKeys": "false",
                "allowAbbrevParamNames": "true",
                "allowAbbrevEnums": "true",
                "allowCaseInsensitiveEnums": "true",
                "strictRefsOnLoad": "false",
                "stopLoadOnError": "true",
                "autocommitLoad": "false",
                "enableLoadMerge": "true",
                "loadActivityClock": "false",
                "instanceDescription": "true",
                "addErrorPrefixSuffix": "true",
                "compListCompact": "false",
                "completionListLine": "false",
                "infoOnMatch": "true",
                "enableDisplayLevel": "false",
                "defaultDisplayLevel": "99999999",
                "enableDisplayGroups": "true",
                "unifiedHistory": "false",
                "modeInfoInAAA": "false",
                "cmdAAAForAutowizard": "false",
                "quoteStyle": "backslash",
                "laxBarQuoting": "false",
                "expandAliasEscape": "false",
                "docWrap": "true",
                "infoOnTab": "true",
                "infoOnSpace": "true",
                "newLogout": "true",
                "newInsert": "true",
                "messageFormat": "\\nMessage from $(sender) at $(time)...\\n$(message)\\nEOF\\n",
                "messageWordWrap": "false",
                "messageQueueSize": "10",
                "promptEnumLimit": "4",
                "caseInsensitive": "true",
                "caseInsensitiveKeys": "true",
                "ignoreLeadingWhitespace": "false",
                "indentTemplates": "false",
                "wrapInfo": "true",
                "wrapPrompt": "false",
                "sortShowElems": "true",
                "showMatchBeforePossible": "false",
                "possibleCompletionsFormat": "Possible completions:",
                "matchCompletionsFormat": "Possible match completions:",
                "noMatchCompletionsFormat": null,
                "showDescription": "true",
                "explicitSetCreate": "false"
            },
            "snmpAgent": {
                "enabled": "false",
                "ip": "0.0.0.0",
                "port": "161",
                "extraIpPorts": "[::]",
                "dscp": "0",
                "mibs": {
                    "file": [
                        "/opt/cisco/calvados/confd/lib/confd/priv/snmp/mibs/CISCO-ENTITY-FRU-CONTROL-MIB.bin",
                        "/opt/cisco/calvados/confd/lib/confd/priv/snmp/mibs/CISCO-ENTITY-SENSOR-MIB.bin",
                        "/opt/cisco/calvados/confd/lib/confd/priv/snmp/mibs/ENTITY-MIB.bin",
                        "/opt/cisco/calvados/confd/lib/confd/priv/snmp/mibs/ENTITY-STATE-MIB.bin",
                        "/opt/cisco/calvados/confd/lib/confd/priv/snmp/mibs/ENTITY-STATE-TC-MIB.bin",
                        "/opt/cisco/calvados/confd/lib/confd/priv/snmp/mibs/INET-ADDRESS-MIB.bin",
                        "SNMP-COMMUNITY-MIB.bin",
                        "SNMP-NOTIFICATION-MIB.bin",
                        "SNMP-TARGET-MIB.bin",
                        "SNMP-USER-BASED-SM-MIB.bin",
                        "SNMP-VIEW-BASED-ACM-MIB.bin"
                    ],
                    "fromLoadPath": "false"
                },
                "temporaryStorageTime": "300",
                "snmpVersions": {
                    "v1": "true",
                    "v2c": "true",
                    "v3": "false"
                },
                "snmpEngine": {
                    "snmpEngineID": "80:00:61:81:05:01",
                    "snmpEngineMaxMessageSize": "50000"
                },
                "authenticationFailureNotifyName": null,
                "system": {
                    "sysDescr": "Cisco Calvados SNMP agent",
                    "sysObjectID": "1.3.6.1.4.1.24961",
                    "sysServices": "72",
                    "sysORTable": null
                }
            },
            "netconf": {
                "enabled": "true",
                "transport": {
                    "ssh": {
                        "enabled": "true",
                        "ip": "0.0.0.0",
                        "port": "2022",
                        "extraIpPorts": "[::]"
                    },
                    "tcp": {
                        "enabled": "true",
                        "ip": "0.0.0.0",
                        "port": "2023",
                        "extraIpPorts": "[::]"
                    }
                },
                "extendedSessions": "false",
                "sendDefaults": "false",
                "idleTimeout": "PT0S",
                "rpcErrors": "inline",
                "maxBatchProcesses": "unbounded"
            }
        },
        "SNMP-COMMUNITY-MIB": {
            "@xmlns": "http://tail-f.com/ns/mibs/SNMP-COMMUNITY-MIB/200308060000Z",
            "snmpCommunityTable": {
                "snmpCommunityEntry": {
                    "snmpCommunityIndex": "public",
                    "snmpCommunityName": "public",
                    "snmpCommunitySecurityName": "public",
                    "snmpCommunityContextEngineID": "80:00:61:81:05:01",
                    "snmpCommunityContextName": null,
                    "snmpCommunityTransportTag": null,
                    "snmpCommunityStorageType": "permanent"
                }
            }
        },
        "SNMP-NOTIFICATION-MIB": {
            "@xmlns": "http://tail-f.com/ns/mibs/SNMP-NOTIFICATION-MIB/200210140000Z",
            "snmpNotifyTable": {
                "snmpNotifyEntry": [
                    {
                        "snmpNotifyName": "std_v1_trap",
                        "snmpNotifyTag": "std_v1_trap",
                        "snmpNotifyType": "trap",
                        "snmpNotifyStorageType": "nonVolatile"
                    },
                    {
                        "snmpNotifyName": "std_v2_inform",
                        "snmpNotifyTag": "std_v2_inform",
                        "snmpNotifyType": "inform",
                        "snmpNotifyStorageType": "nonVolatile"
                    },
                    {
                        "snmpNotifyName": "std_v2_trap",
                        "snmpNotifyTag": "std_v2_trap",
                        "snmpNotifyType": "trap",
                        "snmpNotifyStorageType": "nonVolatile"
                    },
                    {
                        "snmpNotifyName": "std_v3_inform",
                        "snmpNotifyTag": "std_v3_inform",
                        "snmpNotifyType": "inform",
                        "snmpNotifyStorageType": "nonVolatile"
                    },
                    {
                        "snmpNotifyName": "std_v3_trap",
                        "snmpNotifyTag": "std_v3_trap",
                        "snmpNotifyType": "trap",
                        "snmpNotifyStorageType": "nonVolatile"
                    }
                ]
            }
        },
        "SNMP-TARGET-MIB": {
            "@xmlns": "http://tail-f.com/ns/mibs/SNMP-TARGET-MIB/200210140000Z",
            "snmpTargetAddrTable": {
                "snmpTargetAddrEntry": [
                    {
                        "snmpTargetAddrName": "127.0.0.1 v1",
                        "snmpTargetAddrTDomain": "1.3.6.1.6.1.1",
                        "snmpTargetAddrTAddress": "127.0.0.1.19.136",
                        "snmpTargetAddrTimeout": "1500",
                        "snmpTargetAddrRetryCount": "3",
                        "snmpTargetAddrTagList": "std_v1_trap std_trap std_v1_inform std_inform",
                        "snmpTargetAddrParams": "target_v1",
                        "snmpTargetAddrStorageType": "nonVolatile",
                        "snmpTargetAddrEngineID": null,
                        "snmpTargetAddrTMask": null,
                        "snmpTargetAddrMMS": "2048",
                        "enabled": "true"
                    },
                    {
                        "snmpTargetAddrName": "127.0.0.1 v2",
                        "snmpTargetAddrTDomain": "1.3.6.1.6.1.1",
                        "snmpTargetAddrTAddress": "127.0.0.1.23.112",
                        "snmpTargetAddrTimeout": "1500",
                        "snmpTargetAddrRetryCount": "3",
                        "snmpTargetAddrTagList": "std_v2_trap std_trap std_v2_inform std_inform",
                        "snmpTargetAddrParams": "target_v2",
                        "snmpTargetAddrStorageType": "nonVolatile",
                        "snmpTargetAddrEngineID": null,
                        "snmpTargetAddrTMask": null,
                        "snmpTargetAddrMMS": "2048",
                        "enabled": "true"
                    },
                    {
                        "snmpTargetAddrName": "127.0.0.1 v3",
                        "snmpTargetAddrTDomain": "1.3.6.1.6.1.1",
                        "snmpTargetAddrTAddress": "127.0.0.1.27.88",
                        "snmpTargetAddrTimeout": "1500",
                        "snmpTargetAddrRetryCount": "3",
                        "snmpTargetAddrTagList": "std_v3_trap std_trap",
                        "snmpTargetAddrParams": "trap_target_v3",
                        "snmpTargetAddrStorageType": "nonVolatile",
                        "snmpTargetAddrEngineID": null,
                        "snmpTargetAddrTMask": null,
                        "snmpTargetAddrMMS": "2048",
                        "enabled": "true"
                    },
                    {
                        "snmpTargetAddrName": "127.0.0.1 v3.inform",
                        "snmpTargetAddrTDomain": "1.3.6.1.6.1.1",
                        "snmpTargetAddrTAddress": "127.0.0.1.27.88",
                        "snmpTargetAddrTimeout": "1500",
                        "snmpTargetAddrRetryCount": "3",
                        "snmpTargetAddrTagList": "std_v3_inform std_inform",
                        "snmpTargetAddrParams": "inform_target_v3",
                        "snmpTargetAddrStorageType": "nonVolatile",
                        "snmpTargetAddrEngineID": "80:00:1f:88:04:74:65:73:74:69:6e:67",
                        "snmpTargetAddrTMask": null,
                        "snmpTargetAddrMMS": "2048",
                        "enabled": "true"
                    }
                ]
            },
            "snmpTargetParamsTable": {
                "snmpTargetParamsEntry": [
                    {
                        "snmpTargetParamsName": "inform_target_v3",
                        "snmpTargetParamsMPModel": "3",
                        "snmpTargetParamsSecurityModel": "3",
                        "snmpTargetParamsSecurityName": "remote",
                        "snmpTargetParamsSecurityLevel": "noAuthNoPriv",
                        "snmpTargetParamsStorageType": "nonVolatile"
                    },
                    {
                        "snmpTargetParamsName": "target_v1",
                        "snmpTargetParamsMPModel": "0",
                        "snmpTargetParamsSecurityModel": "1",
                        "snmpTargetParamsSecurityName": "public",
                        "snmpTargetParamsSecurityLevel": "noAuthNoPriv",
                        "snmpTargetParamsStorageType": "nonVolatile"
                    },
                    {
                        "snmpTargetParamsName": "target_v2",
                        "snmpTargetParamsMPModel": "1",
                        "snmpTargetParamsSecurityModel": "2",
                        "snmpTargetParamsSecurityName": "public",
                        "snmpTargetParamsSecurityLevel": "noAuthNoPriv",
                        "snmpTargetParamsStorageType": "nonVolatile"
                    },
                    {
                        "snmpTargetParamsName": "trap_target_v3",
                        "snmpTargetParamsMPModel": "3",
                        "snmpTargetParamsSecurityModel": "3",
                        "snmpTargetParamsSecurityName": "public",
                        "snmpTargetParamsSecurityLevel": "noAuthNoPriv",
                        "snmpTargetParamsStorageType": "nonVolatile"
                    }
                ]
            }
        },
        "SNMP-USER-BASED-SM-MIB": {
            "@xmlns": "http://tail-f.com/ns/mibs/SNMP-USER-BASED-SM-MIB/200210160000Z",
            "usmUserTable": {
                "usmUserEntry": [
                    {
                        "usmUserEngineID": "80:00:61:81:05:01",
                        "usmUserName": "initial",
                        "usmUserSecurityName": "initial",
                        "usmUserAuthProtocol": "1.3.6.1.6.3.10.1.1.1",
                        "usmUserPrivProtocol": "1.3.6.1.6.3.10.1.2.1",
                        "usmUserStorageType": "nonVolatile"
                    },
                    {
                        "usmUserEngineID": "80:00:61:81:05:01",
                        "usmUserName": "initial_auth",
                        "usmUserSecurityName": "initial_auth",
                        "usmUserAuthProtocol": "1.3.6.1.6.3.10.1.1.2",
                        "usmUserPrivProtocol": "1.3.6.1.6.3.10.1.2.1",
                        "usmUserStorageType": "nonVolatile",
                        "usmUserAuthKey": "10:2c:bd:65:e3:eb:e2:16:0d:63:db:23:73:f3:17:b2"
                    },
                    {
                        "usmUserEngineID": "80:00:61:81:05:01",
                        "usmUserName": "initial_authPriv",
                        "usmUserSecurityName": "initial_authPriv",
                        "usmUserAuthProtocol": "1.3.6.1.6.3.10.1.1.2",
                        "usmUserPrivProtocol": "1.3.6.1.6.3.10.1.2.2",
                        "usmUserStorageType": "nonVolatile",
                        "usmUserAuthKey": "10:2c:bd:65:e3:eb:e2:16:0d:63:db:23:73:f3:17:b2",
                        "usmUserPrivKey": "10:2c:bd:65:e3:eb:e2:16:0d:63:db:23:73:f3:17:b2"
                    }
                ]
            }
        },
        "SNMP-VIEW-BASED-ACM-MIB": {
            "@xmlns": "http://tail-f.com/ns/mibs/SNMP-VIEW-BASED-ACM-MIB/200210160000Z",
            "vacmSecurityToGroupTable": {
                "vacmSecurityToGroupEntry": [
                    {
                        "vacmSecurityModel": "1",
                        "vacmSecurityName": "public",
                        "vacmGroupName": "all-rights",
                        "vacmSecurityToGroupStorageType": "nonVolatile"
                    },
                    {
                        "vacmSecurityModel": "2",
                        "vacmSecurityName": "public",
                        "vacmGroupName": "all-rights",
                        "vacmSecurityToGroupStorageType": "nonVolatile"
                    },
                    {
                        "vacmSecurityModel": "3",
                        "vacmSecurityName": "initial",
                        "vacmGroupName": "initial",
                        "vacmSecurityToGroupStorageType": "nonVolatile"
                    },
                    {
                        "vacmSecurityModel": "3",
                        "vacmSecurityName": "initial_auth",
                        "vacmGroupName": "initial",
                        "vacmSecurityToGroupStorageType": "nonVolatile"
                    },
                    {
                        "vacmSecurityModel": "3",
                        "vacmSecurityName": "initial_authPriv",
                        "vacmGroupName": "initial",
                        "vacmSecurityToGroupStorageType": "nonVolatile"
                    }
                ]
            },
            "vacmAccessTable": {
                "vacmAccessEntry": [
                    {
                        "vacmGroupName": "initial",
                        "vacmAccessContextPrefix": null,
                        "vacmAccessSecurityModel": "3",
                        "vacmAccessSecurityLevel": "noAuthNoPriv",
                        "vacmAccessContextMatch": "exact",
                        "vacmAccessReadViewName": "internet",
                        "vacmAccessWriteViewName": "internet",
                        "vacmAccessNotifyViewName": "internet",
                        "vacmAccessStorageType": "nonVolatile"
                    },
                    {
                        "vacmGroupName": "initial",
                        "vacmAccessContextPrefix": null,
                        "vacmAccessSecurityModel": "3",
                        "vacmAccessSecurityLevel": "authNoPriv",
                        "vacmAccessContextMatch": "exact",
                        "vacmAccessReadViewName": "internet",
                        "vacmAccessWriteViewName": "internet",
                        "vacmAccessNotifyViewName": "internet",
                        "vacmAccessStorageType": "nonVolatile"
                    },
                    {
                        "vacmGroupName": "initial",
                        "vacmAccessContextPrefix": null,
                        "vacmAccessSecurityModel": "3",
                        "vacmAccessSecurityLevel": "authPriv",
                        "vacmAccessContextMatch": "exact",
                        "vacmAccessReadViewName": "internet",
                        "vacmAccessWriteViewName": "internet",
                        "vacmAccessNotifyViewName": "internet",
                        "vacmAccessStorageType": "nonVolatile"
                    },
                    {
                        "vacmGroupName": "all-rights",
                        "vacmAccessContextPrefix": null,
                        "vacmAccessSecurityModel": "0",
                        "vacmAccessSecurityLevel": "noAuthNoPriv",
                        "vacmAccessContextMatch": "exact",
                        "vacmAccessReadViewName": "internet",
                        "vacmAccessWriteViewName": "internet",
                        "vacmAccessNotifyViewName": "internet",
                        "vacmAccessStorageType": "nonVolatile"
                    }
                ]
            },
            "vacmViewTreeFamilyTable": {
                "vacmViewTreeFamilyEntry": {
                    "vacmViewTreeFamilyViewName": "internet",
                    "vacmViewTreeFamilySubtree": "1.3.6.1",
                    "vacmViewTreeFamilyMask": null,
                    "vacmViewTreeFamilyType": "included",
                    "vacmViewTreeFamilyStorageType": "nonVolatile"
                }
            }
        },
        "SNMPv2-MIB": {
            "@xmlns": "http://tail-f.com/ns/mibs/SNMPv2-MIB/200210160000Z",
            "system": {
                "sysContact": null,
                "sysName": null,
                "sysLocation": null
            },
            "snmp": {
                "snmpEnableAuthenTraps": "disabled"
            }
        },
        "fpd": {
            "@xmlns": "http://www.cisco.com/ns/yang/Cisco-IOS-XR-sysadmin-fpd-infra-cli-fpd",
            "config": {
                "auto-upgrade": "disable"
            }
        },
        "sdr-config": {
            "@xmlns": "http://www.cisco.com/ns/yang/Cisco-IOS-XR-sysadmin-sdr-mgr",
            "sdr": {
                "name": "default-sdr",
                "resources": {
                    "card-type": [
                        {
                            "type": "RP",
                            "vm-memory": "2",
                            "vm-cpu": "1"
                        },
                        {
                            "type": "LC",
                            "vm-memory": "1",
                            "vm-cpu": "1"
                        }
                    ]
                },
                "location": {
                    "node-location": "all"
                }
            }
        },
        "private-sdr": {
            "@xmlns": "http://www.cisco.com/ns/yang/Cisco-IOS-XR-sysadmin-sdr-mgr",
            "sdr-name": {
                "name": "default-sdr",
                "id": "2",
                "lead_rack0": "0",
                "lead_rack1": "0",
                "pairing": {
                    "num": "0",
                    "second_exist": "false",
                    "rp1_rack": "0",
                    "rp1_slot": "0"
                }
            }
        },
        "service": {
            "@xmlns": "http://www.cisco.com/ns/yang/Cisco-IOS-XR-sysadmin-services",
            "cli": {
                "interactive": {
                    "enabled": "true"
                }
            }
        },
        "interfaces": {
            "@xmlns": "http://openconfig.net/yang/interfaces",
            "interface": [
                {
                    "name": "MgmtEth0/RP0/CPU0/0",
                    "config": {
                        "name": "MgmtEth0/RP0/CPU0/0",
                        "type": {
                            "@xmlns:idx": "urn:ietf:params:xml:ns:yang:iana-if-type",
                            "#text": "idx:ethernetCsmacd"
                        },
                        "enabled": "true",
                        "description": "*** MANAGEMENT INTERFACE ***"
                    },
                    "ethernet": {
                        "@xmlns": "http://openconfig.net/yang/interfaces/ethernet",
                        "config": {
                            "auto-negotiate": "false"
                        }
                    },
                    "subinterfaces": {
                        "subinterface": {
                            "index": "0"
                        }
                    }
                },
                {
                    "name": "GigabitEthernet0/0/0/0",
                    "config": {
                        "name": "GigabitEthernet0/0/0/0",
                        "type": {
                            "@xmlns:idx": "urn:ietf:params:xml:ns:yang:iana-if-type",
                            "#text": "idx:ethernetCsmacd"
                        },
                        "enabled": "false"
                    },
                    "ethernet": {
                        "@xmlns": "http://openconfig.net/yang/interfaces/ethernet",
                        "config": {
                            "auto-negotiate": "false"
                        }
                    }
                },
                {
                    "name": "GigabitEthernet0/0/0/1",
                    "config": {
                        "name": "GigabitEthernet0/0/0/1",
                        "type": {
                            "@xmlns:idx": "urn:ietf:params:xml:ns:yang:iana-if-type",
                            "#text": "idx:ethernetCsmacd"
                        },
                        "enabled": "false"
                    },
                    "ethernet": {
                        "@xmlns": "http://openconfig.net/yang/interfaces/ethernet",
                        "config": {
                            "auto-negotiate": "false"
                        }
                    }
                },
                {
                    "name": "GigabitEthernet0/0/0/2",
                    "config": {
                        "name": "GigabitEthernet0/0/0/2",
                        "type": {
                            "@xmlns:idx": "urn:ietf:params:xml:ns:yang:iana-if-type",
                            "#text": "idx:ethernetCsmacd"
                        },
                        "enabled": "false"
                    },
                    "ethernet": {
                        "@xmlns": "http://openconfig.net/yang/interfaces/ethernet",
                        "config": {
                            "auto-negotiate": "false"
                        }
                    }
                },
                {
                    "name": "GigabitEthernet0/0/0/3",
                    "config": {
                        "name": "GigabitEthernet0/0/0/3",
                        "type": {
                            "@xmlns:idx": "urn:ietf:params:xml:ns:yang:iana-if-type",
                            "#text": "idx:ethernetCsmacd"
                        },
                        "enabled": "false"
                    },
                    "ethernet": {
                        "@xmlns": "http://openconfig.net/yang/interfaces/ethernet",
                        "config": {
                            "auto-negotiate": "false"
                        }
                    }
                },
                {
                    "name": "GigabitEthernet0/0/0/4",
                    "config": {
                        "name": "GigabitEthernet0/0/0/4",
                        "type": {
                            "@xmlns:idx": "urn:ietf:params:xml:ns:yang:iana-if-type",
                            "#text": "idx:ethernetCsmacd"
                        },
                        "enabled": "false"
                    },
                    "ethernet": {
                        "@xmlns": "http://openconfig.net/yang/interfaces/ethernet",
                        "config": {
                            "auto-negotiate": "false"
                        }
                    }
                }
            ]
        },
        "lacp": {
            "@xmlns": "http://openconfig.net/yang/lacp",
            "interfaces": {
                "interface": [
                    {
                        "name": "MgmtEth0/RP0/CPU0/0",
                        "config": {
                            "name": "MgmtEth0/RP0/CPU0/0"
                        }
                    },
                    {
                        "name": "GigabitEthernet0/0/0/0",
                        "config": {
                            "name": "GigabitEthernet0/0/0/0"
                        }
                    },
                    {
                        "name": "GigabitEthernet0/0/0/1",
                        "config": {
                            "name": "GigabitEthernet0/0/0/1"
                        }
                    },
                    {
                        "name": "GigabitEthernet0/0/0/2",
                        "config": {
                            "name": "GigabitEthernet0/0/0/2"
                        }
                    },
                    {
                        "name": "GigabitEthernet0/0/0/3",
                        "config": {
                            "name": "GigabitEthernet0/0/0/3"
                        }
                    },
                    {
                        "name": "GigabitEthernet0/0/0/4",
                        "config": {
                            "name": "GigabitEthernet0/0/0/4"
                        }
                    }
                ]
            }
        },
        "network-instances": {
            "@xmlns": "http://openconfig.net/yang/network-instance",
            "network-instance": {
                "name": "default",
                "config": {
                    "name": "default"
                },
                "protocols": {
                    "protocol": {
                        "identifier": {
                            "@xmlns:idx": "http://openconfig.net/yang/policy-types",
                            "#text": "idx:STATIC"
                        },
                        "name": "DEFAULT",
                        "config": {
                            "identifier": {
                                "@xmlns:idx": "http://openconfig.net/yang/policy-types",
                                "#text": "idx:STATIC"
                            },
                            "name": "DEFAULT"
                        },
                        "static-routes": {
                            "static": {
                                "prefix": "0.0.0.0/0",
                                "config": {
                                    "prefix": "0.0.0.0/0"
                                },
                                "next-hops": {
                                    "next-hop": {
                                        "index": "**192.168.122.1**",
                                        "config": {
                                            "index": "**192.168.122.1**",
                                            "next-hop": "192.168.122.1"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    };
        editor.set(json);

        // get json
        var json = editor.get();
    </script>
</html>