
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %} | {{ app_name }}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <!-- icon in the highest resolution we need it for -->
    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='img/favicon.png') }}">
    <!-- reuse same icon for Safari -->
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <!-- multiple icons for IE -->
    <meta name="msapplication-square310x310logo" content="{{ url_for('static', filename='img/favicon.png') }}">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#2777b5">
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="{{ url_for('static', filename='css/metisMenu.min.css') }}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/sb-admin.css') }}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Toastr Style -->
    <link href="{{ url_for('static', filename='css/toastr.min.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block head %}
    {% endblock %}
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 2;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('dashboard') }}"><img class="mx-auto d-block" src="{{ url_for('static', filename='img/logo-inv.png') }}" alt="{{ app_name }}" height="20"></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-rocket fa-fw"></i> Account Settings <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a data-toggle="modal" href="#userProfile"><i class="fa fa-user fa-fw"></i> Profile</a>
                        </li>
                        <li><a data-toggle="modal" href="#settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="{{ url_for('dashboard') }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-server fa-fw"></i> Device<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{{ url_for('add_device') }}"><i class="fa fa-plus-square fa-fw"></i> Add Device</a>
                                </li>
                                <li>
                                    <a href="{{ url_for('list_device') }}"><i class="fa fa-list-alt fa-fw"></i> List Device</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="{{ url_for('yang_explorer') }}"><i class="fa fa-sitemap fa-fw"></i> YANG Explorer</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
        {% block content %}{% endblock %}
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Modal Profile -->
    <div class="modal fade" id="userProfile" tabindex="-1" role="dialog" aria-labelledby="userProfile" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="userProfile">Profile</h4>
                </div>
                <div class="modal-body">
                    {% if current_user.is_authenticated %}
                    <form id="formUserProfile" method="POST" action="/dashboard/change_password">
                        <div class="form-group">
                            <label for="disableInputUsername">Username</label>
                            <input class="form-control" id="disableInputUsername" type="text" placeholder="{{ current_user.username }}" disabled>
                        </div>
                        <div class="form-group">
                            <label for="disableInputEmail">Email address</label>
                            <input class="form-control" id="disableInputEmail" type="text" placeholder="{{ current_user.email }}" disabled>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Password</label>
                            {{ userProfileForm.password(class="form-control", placeholder="Password", id="inputPassword") }}
                        </div>
                        <div class="form-group">
                            <label for="inputConfirmPassword">Confirm password</label>
                            {{ userProfileForm.confirm(class="form-control", placeholder="Confirm password", id="inputConfirmPassword") }}
                        </div>
                        {{ userProfileForm.hidden_tag() }}
                    </form>
                    {% endif %}
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="formUserProfile">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- Modal Profile -->
    <div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="settings" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="settings">Settings</h4>
                </div>
                <div class="modal-body">
                    ....<br>
                    Settings here!<br>
                    ....
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="formUserProfile">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ url_for('static', filename='js/metisMenu.min.js') }}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='js/sb-admin.js') }}"></script>
    <!-- Toastr JS -->
    <script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/automarked.js') }}"></script>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if loop.index <= 1 %}
        <script>toastr["{{ category | safe }}"]("{{ message | safe }}")</script>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}
</body>

</html>
