{% extends '_formBase.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
      <div class="card card-login mx-auto mt-5">
        <div class="card-header" style="background-color: #2777b5"><img class="mx-auto d-block" src="{{ url_for('static', filename='img/logo.png') }}" alt="" height="50"></div>
        <div class="card-body">
          <form method="POST" action="{{ url_for('forgot_password') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
              <div class="form-label-group">
                {{ form.email(class="form-control", placeholder="Email address", id="inputUsername", autofocus=True) }}
                <label for="inputUsername">Email address</label>
              </div>
            </div>
            <button class="btn btn-info btn-block" type="submit">Reset Password</button>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="{{ url_for('signup') }}">Register an Account</a>
            <a class="d-block small" href="{{ url_for('login') }}">Logint Page</a>
          </div>
        </div>
      </div>
{% endblock %}