<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ title }}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favicon.png">
    <!-- icon in the highest resolution we need it for -->
    <link rel="icon" sizes="192x192" href="../static/img/favicon.png">
    <!-- reuse same icon for Safari -->
    <link rel="apple-touch-icon" href="../static/img/favicon.png">
    <!-- multiple icons for IE -->
    <meta name="msapplication-square310x310logo" content="../static/img/favicon.png">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#2777b5">
    <!-- Bootstrap core CSS-->
    <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin/css/sb-admin.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://udx.web.id/static/automarked/js/jquery-3.3.1.min.js"></script>
    <script src="https://udx.web.id/static/automarked/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/automarked.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header" style="background-color: #2777b5"><img class="mx-auto d-block" src="../static/img/logo.png" alt="" height="50"></div>
        <div class="card-body">
          <form method="POST" action="/forgot_password">
            {{ form.hidden_tag() }}
            <div class="form-group">
              <div class="form-label-group">
                {{ form.email(class="form-control", placeholder="Email address", id="inputUsername", autofocus=True) }}
                <label for="inputUsername">Email address</label>
              </div>
            </div>
            <button class="btn btn-info btn-block" type="submit">Reset Password</button>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="{{ url_for('signup') }}">Register an Account</a>
            <a class="d-block small" href="{{ url_for('login') }}">Logint Page</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/jquery/jquery.min.js"></script>
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="https://blackrockdigital.github.io/startbootstrap-sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>
  </body>
</html>