<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="../static/img/favicon.png">

    <title>{{ title }}</title>
    <link href="https://udx.web.id/static/automarked/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://udx.web.id/static/automarked/css/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" method="POST" action="/">
      <img class="mb-4" src="../static/img/NETCONF.png" alt="" height="72">
      {{ form.hidden_tag() }}
      {{ form.username(class="form-control", placeholder="Username") }}
      {{ form.password(class="form-control", placeholder="Password") }}
      <div class="checkbox mb-3">
        <label>
          {{ form.remember() }} {{ form.remember.label }}
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">{{ app_name }}, Inc &copy; 2018—2019</p>
    </form>
  </body>
</html>