{% extends '_formBase.html' %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="card card-register mx-auto mt-5">
    <div class="card-header" style="background-color: #2777b5"><img class="mx-auto d-block" src="{{ url_for('static', filename='img/logo.png') }}" alt="{{ app_name }}" height="50"></div>
    <div class="card-body">
    <form method="POST" action="{{ url_for('signup') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
        </div>
        <div class="form-group">
        <div class="form-label-group">
        </div>
        </div>
        <div class="form-group">
        <div class="form-label-group">
            {{ form.username(class="form-control", placeholder="Username", id="inputUsername", autofocus=True) }}
            <label for="inputUsername">Username</label>
        </div>
        </div>
        <div class="form-group">
        <div class="form-label-group">
            {{ form.email(class="form-control", placeholder="Email address", id="inputEmail") }}
            <label for="inputEmail">Email address</label>
        </div>
        </div>
        <div class="form-group">
        <div class="form-row">
        <div class="col-md-6">
        <div class="form-label-group">
            {{ form.password(class="form-control", placeholder="Password", id="inputPassword") }}
            <label for="inputPassword">Password</label>
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-label-group">
            {{ form.confirm(class="form-control", placeholder="Confirm password", id="confirmPassword") }}
            <label for="confirmPassword">Confirm password</label>
        </div>
        </div>
        </div>
        </div>
        <div class="form-group">
        <div class="checkbox">
            <label class="text-secondary">
            {{ form.accept_tos() }} {{ form.accept_tos.label }}
            </label>
        </div>
        </div>

        {% if form.errors %}
        {% for field in form.errors %}
        {% if loop.index <= 1 %}
        {% for err in form.errors[field] %}
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            <strong>Error on field {{ field }}</strong><br/>
            {{ err }}
        </div>
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% endif %}
        {% if _err %}
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            <strong>Error</strong><br/>
            {{ _err }}
        </div>
        {% endif %}
        <button class="btn btn-info btn-block" type="submit">Register</button>
    </form>
    <div class="text-center">
        <a class="d-block small mt-3" href="{{ url_for('login') }}">Login Page</a>
        <a class="d-block small" href="{{ url_for('forgot_password') }}">Forgot Password?</a>
    </div>
    </div>
</div>
{% endblock %}